---
layout: default
---

<!-- about.html -->
<head>
  <meta name="google-site-verification" content="o9IwwMPcA6S4tdZyYwZE78UEB3p55MMHspKrxgr5mjw" />
</head>
<div id="particles-js"></div>
<h1 id="welcome-text"></h1>
<style>
  #particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .navbar {
    background-color: transparent;
    border: none;
  }
</style>

<!-- Include Particle.js library at the end of the body -->
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

<!-- Include Typed.js library -->
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<!-- Particle.js configuration -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    particlesJS('particles-js', {
      "particles": {
        "number": {
          "value": 100,
          "density": {
            "enable": true,
            "value_area": 800
          }
        },
        "color": {
          "value": "#ffffff"
        },
        "shape": {
          "type": "circle",
          "stroke": {
            "width": 0,
            "color": "#000000"
          }
        },
        "opacity": {
          "value": 0.8,
          "random": true,
          "anim": {
            "enable": true,
            "speed": 1,
            "opacity_min": 0.1,
            "sync": false
          }
        },
        "size": {
          "value": 5,
          "random": true,
          "anim": {
            "enable": false,
            "speed": 4,
            "size_min": 1,
            "sync": false
          }
        },
        "line_linked": {
          "enable": false
        },
        "move": {
          "enable": true,
          "speed": 2,
          "direction": "random",
          "random": true,
          "straight": false,
          "out_mode": "out",
          "bounce": false,
          "attract": {
            "enable": false,
            "rotateX": 1200,
            "rotateY": 600
          }
        }
      },
      "interactivity": {
        "detect_on": "canvas",
        "events": {
          "onhover": {
            "enable": false
          },
          "onclick": {
            "enable": true,
            "mode": "repulse"
          },
          "resize": true
        },
        "retina_detect": true
      }
    });
    // Typed.js configuration
    var options = {
      strings: ["Welcome to Youlong Ma's Website!"],
      typeSpeed: 50, // typing speed in milliseconds
      showCursor: true, // show blinking cursor
    };

    var typed = new Typed("#welcome-text", options);
  });
</script>




<!-- Selected papers -->
{% if page.selected_papers -%}
  <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
  {%- include selected_papers.html %}
{%- endif %}

<!-- Social -->
{%- if page.social %}
<div class="social">
  <div class="contact-icons">
    {% include social.html %}
  </div>

  <div class="contact-note">
    {{ site.contact_note }}
  </div>
</div>
{%- endif %}
